body {
  background: url("https://images.pexels.com/photos/29769669/pexels-photo-29769669.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
form {
  border: 1.5px solid #fff;
  border-radius: 5px;
  background-color: #000000ad;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 10px;
}
label,
input {
  margin: 5px;
}
.btn {
  width: 250px;
  margin-left: 50px;
  border-radius: 5px;
  /* border: none; */
  border: 2px solid #000;
  background-color: #4443438f;
  color: white;
  padding: 10px;
}
select {
  margin-left: 18px;
  width: 200px;
}
input,
select {
  border: 2px solid #000;
  background-color: #4443438f;
  border-radius: 5px;
  color: white;
  padding: 5px;
}
